* {
  margin: 0;
  padding: 0;
}

nav {
  background: #e9e0d6;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight:bold;
}

body {
  background-color: #f6f6f6;
  font-family: 'Cormorant Garamond', serif;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}


.cont {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: #e9e0d6;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.change-btn {
  background-color: #c5ab8d;
  color: white;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-weight:bold;
  font-family: 'Cormorant Garamond', serif;
}

button {
  margin: 10px;
}

.btn {
  background-color:#e9e0d6;
  padding: 5px;
  border: none;
  font-size: 10px;
  font-weight:bold;
  font-family: 'Cormorant Garamond', serif;
}


h2 {
  font-size: 17px;
}

.description {
  margin: 30px;
  font-size: 20px;
}

.info {
  margin: 30px;
  font-size: 20px;
}


@media all and (max-width:1000px) {

  .img {
    width: 300px;
    height: 400px;
  }
  .description {
    margin: 20px;
    font-size: 15px;
  }

}



@media all and (max-width:700px) {

  .img {
    width: 250px;
    height: 350px;
  }
  .cont {
  flex-wrap: wrap;
  }
  .img_about {
    width: 300px;
  }

}

@media all and (max-width:550px) {

  .products {
    display: flex;
    justify-content: center;
    padding-right: auto;
  }

  .product-card {
    flex-grow: 0;
  }

  .link {
    padding: 10px 35px;
    font-size: 13px;
  }

  .change-btn {
    padding: 12px;
    font-size: 15px;
  }
}
